.app {
    width: 1200px;
    max-width: 90%;
    box-sizing: border-box;
    padding: 0 50px;
    margin: auto;
    background-color: white;
    min-height: 100vh;

    padding-bottom: 1px;    // Needed to avoid collapsing margin induced gap
}